---
layout: page
title: "About"
description: "Hey, this is 林深不见路."
header-img: "img/tag-bg-o.jpg"
permalink: /about/
---

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>纸上得来终觉浅，百无一用是书生。</p></blockquote>

    <p>Hey，我是<strong>林深不见路</strong>，就职于才华有限公司</p>

    <p></p>
    
     <h5>搜索引擎</h5>
    <ul>
        <li><a href="https://www.baidu.com/">baidu</a></li>
        <li><a href="https://cn.bing.com/">bing</a></li>
        <li><a href="http://byr.wiki/">北邮人导航</a></li> 
    </ul>
    
    <h5>学校网站</h5>
    <ul>
        <li><a href="http://www.hnu.edu.cn/">湖南大学</a></li>
        <li><a href="http://www.ucas.ac.cn/">中国科学院大学</a></li>
        <li><a href="http://lsec.cc.ac.cn/chinese/icmsec/indexcn.html">计算数学与科学工程计算研究所</a></li> 
    </ul>
    
</div>

<!-- Gitalk / Disqus Comments -->
{% assign gitalk_id = 'about' %}
{% include comments/gitalk.html %}
{% include comments/disqus.html %}

