<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% include partials/sns-links.html %}
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
                    <br>
                    Theme on <a href="{{ site.github_repo }}">GitHub</a> |
                    <iframe
                        style="margin-left: 2px; margin-bottom:-5px;"
                        frameborder="0" scrolling="0" width="100px" height="20px"
                        src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_username }}.github.io&type=star&count=true" >
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</footer>

{% include scripts/vendor.html %}
{% include scripts/service-worker.html %}
{% include scripts/async-loader.html %}
{% include partials/side-catalog.html %}
{% include analytics/google-analytics.html %}
{% include analytics/baidu-tongji.html %}
